In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
lc_df = pd.read_csv('../data/lc_cleaned.csv')

In [3]:
lc_df.sample(5)

,amount,title,state,length_of_emp,policy_code,risk_score,debt_to_income_ratio,year,status,region,division
506023,12000.0,debt consolidation,FL,10+ years,1.0,702.0,0.079086,2018,1,South,South Atlantic
3040712,10000.0,debt consolidation,NE,5 years,0.0,NaN,0.067600,2016,0,Midwest,West North Central
1355397,18000.0,home improvement,NJ,< 1 year,1.0,692.0,0.039329,2018,1,Northeast,Middle Atlantic
2016896,20000.0,credit card refinancing,CA,2 years,1.0,692.0,0.110133,2016,1,West,Pacific
3013436,25000.0,car,MN,3 years,0.0,686.0,0.027900,2012,0,Midwest,West North Central

In [4]:
lc_df.status.value_counts()

1    2258997
0    1048554
Name: status, dtype: int64

approval by year

In [ ]:
sns.set(rc={'figure.figsize':(12, 5)})

In [ ]:
sns.lineplot(data = lc_df, x = 'year', y = 'status', estimator = 'mean', ci = 99)

2007 to 2012

In [ ]:
lc_eo2012 = lc_df[lc_df['year']<=2012]

In [ ]:
lc_eo2012.info()

In [ ]:
lc_eo2012.status.value_counts()

In [ ]:
lc_eo2012.sample(5)

In [ ]:
sns.lineplot(data = lc_eo2012, x = 'year', y = 'status', estimator = 'mean', ci = 99)

credit score vs approval

In [ ]:
sns.set(rc={'figure.figsize':(8, 5)})

In [ ]:
sns.barplot(data = lc_eo2012, x = 'status', y = 'risk_score', ci = 99)

amount vs approval

In [ ]:
sns.barplot(data = lc_eo2012, x = 'status', y = 'amount', ci = 99)

debt-to-inc-ratio vs approval

In [ ]:
sns.barplot(data = lc_df, x = 'status', y = 'debt_to_income_ratio', ci = 99)

length of emp vs approval

In [ ]:
sns.set(rc={'figure.figsize':(12, 5)})

In [ ]:
sns.barplot(data = lc_df, x = 'length_of_emp', y = 'status', ci = 99)

geo division vs approval

In [ ]:
sns.barplot(data = lc_df, x = 'division', y = 'status', ci = 99)

geo region vs approval

In [ ]:
sns.barplot(data = lc_df, x = 'region', y = 'status', ci = 99)

In [ ]:
lc_df[lc_df['status']==0].groupby('year')['title'].count()

In [ ]:
lc_df[lc_df['status']==1].groupby('year')['title'].count()